<!DOCTYPE html>
<html>
<%= provide(:title, "About") %>
<head>
	<title></title>
</head>
<body>

<h1>What is Giusto?</h1>
<p>
	If you're a caterer, an event planner, or a host, you ask for attendees' dietary restrictions and learn what they cannot have. Problem is, you still don't know what they like and what to make them. So you cross your fingers, risk it, and guess, right?

	Giusto solves this problem by digitally communicating and breaking down attendees’ food and drink preferences from organic meats to local microbrew, from gluten-free to peanut allergy so hosts and caterers can prepare dishes that come back empty. Giusto reduces risk and ends the guessing game of who eats what.
 
	Let's stop guessing who eats what. Let's get it right. Let's get it just right. Giusto.
</p>
</body>
</html>
