<!DOCTYPE html>
<html>
<%= provide(:title, "Blog") %>
<head>
	<title>Giusto Blog</title>
	<h1>The Giusto Blog</h1>
</head>
<body>
	<p>The latest on Giusto & our craft beer recommendations for the biggest games.</p>

</body>
</html>
