<!DOCTYPE html>
<html>
<%= provide(:title, "Contact") %>
<head>
	<title>Contact Us</title>
<h1>Connect With Us!</h1>
</head>
<body>
	<div class="text-center">
	<p>Where to find Giusto on Social Media and in the community.</p>
	
</div>
</body>
</html>

