<!DOCTYPE html>
<%= provide(:title, "Download") %>
<html>
<head>
	<title>Download Giusto</title>
	<h1>Download Giusto</h1>
</head>
<body>

	<p class="text-center">Click the App Store icon below to download version 2.0</p>
		<div class="html-content text-center" data-component="html" data-name="html_component"> 
			<a href="https://itunes.apple.com/us/app/giusto/id942095803?mt=8&amp;uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
 </div>

</body>
</html>
