<!DOCTYPE html>
<%= provide(:title, "Video") %>
<html>
<head>
	<title>Video</title>
	<h1>See how Giusto works </h1>
</head>
<body>
	<p class="text-center">
  	<a href="https://youtu.be/ny-nYkEwlks" class="button large">Click To Watch Video in Modal</a></p>
           
                 
</body>
</html>


